body {
  font-family: Arial;
  margin: 0;
  background: #f4f6f8;
}

header {
  background: #1e90ff;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #333;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

section {
  padding: 20px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
